
<div  style="text-align:center">
<div class="card_success">
  <div
    style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;"
  >
    <i class="checkmark">✓</i>
  </div>
  <h1>Success</h1>
  <p>Đăng ký thông tin thành công!</p>
</div>
</div>